/* Basics */

html {
	box-sizing: border-box;
}
* {
	box-sizing: inherit;
}

body {
	margin: 0;
	font: 14px/1.3 Roboto, sans-serif;
}

.content {
	display: flex;
	height: 100%;
	opacity: 0;
	transition: opacity 200ms ease;
}
.content.loaded {
	opacity: 1;
}

/* Sidebar/Content */

.sidebar {
	width: calc(300px + 10vw);
	overflow-x: hidden;
	overflow-y: auto;
	padding: 15px;
	border-right: 2px solid #afafaf;
	flex: 0 0 auto;
}

.sidebar__section {
	margin: 0 0 16px;
}

.sidebar__title {
	margin: 0 0 16px;
	font-size: 2em;
}

.sidebar__sub-title {
	font-size: 1.25em;
	margin: 0;
}

.sidebar__header {
	font-size: 1.3em;
	margin: 0 0 8px;
}

/* Preview */

.preview {
	width: 80%;
	flex: 1 1 auto;
}

.preview__window {
	width: 100%;
	height: 100%;
	border: none;
}

/* Loading */

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	animation: 500ms ease 500ms both loader-fade-in;
	transition: transform 0.4s ease;
}
.loading-screen.hidden {
	transform: translateY(100%);
}

@keyframes loader-fade-in {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

.loading-screen__spinner {
	width: 118px;
	height: 118px;
	border: 6px solid transparent;
	border-top-color: #000;
	border-left-color: #000;
	border-radius: 50%;
	margin-bottom: 16px;
	animation: 1s cubic-bezier(.54,.39,.45,.63) 0s infinite loader-spin;
}
.loading-screen__cross {
	position: relative;
	width: 124px;
	height: 124px;
	overflow: hidden;
}
.loading-screen__cross::before,
.loading-screen__cross::after {
	content: "";
	position: absolute;
	top: calc(50% - 8px);
	left: -25%;
	width: 150%;
	height: 16px;
	background: #000;
}
.loading-screen__cross::before {
	transform: rotate(45deg);
}
.loading-screen__cross::after {
	transform: rotate(-45deg);
}

@keyframes loader-spin {
	from {
		transform: rotate(30deg);
	} to {
		transform: rotate(390deg);
	}
}

.loading-screen__text {
	margin-bottom: 8px;
	font-size: 20px;
	white-space: nowrap;
}

.loading-screen__subtext {
	margin-bottom: 6px;
	opacity: 0.65;
	font-size: 14px;
	font-style: italic;
}
