/* NAV */

.nav {
	display: flex;
}
.nav--header {
	padding: 30px;
}

.nav__split {
	display: flex;
	width: 20%;
	flex: 1 1 auto;
	align-items: center;
}

.nav__split--left {
	order: 1;
	justify-content: left;
}

.nav__split--center {
	width: 60%;
	order: 50;
	justify-content: center;
}

.nav__split--right {
	order: 100;
	justify-content: right;
}

.nav__link {
	position: relative;
	display: inline-block;
	margin-left: 8px;
	cursor: pointer;
}

.nav__link-icon {
	color: var(--text);
	font-size: 24px;
}

.nav__link-text {
	position: absolute;
	left: 50%;
	top: 120%;
	padding: 3px 9px;
	background: var(--invert-background);
	border-radius: 20px;
	color: var(--accent-text);
	white-space: nowrap;
	text-decoration: none;
	opacity: 0;
	transform: translateX(-50%);
	transition: opacity 0.2s ease;
	pointer-events: none;
}
.nav__link-text--left {
	left: -12px;
	transform: none;
}
.nav__link-text--right {
	left: auto;
	transform: none;
	right: -12px;
}
.nav__link:hover .nav__link-text {
	opacity: 1;
}



/* Filter Area */

.filter {
	padding: 0 30px;
}

.filter__row {
	display: flex;
	margin-bottom: 4px;
	align-items: flex-start;
}
.filter__row--center {
	justify-content: center;
}


.dropdown {
	position: relative;
}

.dropdown__box {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 1;
	min-width: 100px;
	padding: 10px;
	background: var(--background);
	border-radius: 4px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	transform: translateX(-50%);
	text-align: center;
	display: none;
}

.dropdown:hover .dropdown__box {
	display: block;
}

.dropdown__item {
	display: block;
	padding: 2px 0;
	white-space: nowrap;
}


/* Browser */

.browser {
	display: grid;
	justify-content: center;
	align-content: flex-start;
	padding: 0 16px;
	min-height: calc(100vh - 300px);
	margin: 0 auto;
}
.browser.is-grid {
	max-width: calc(244px * 5 + 16px * 4 + 32px);
	grid-template-columns: repeat(auto-fit, 244px);
	gap: 16px;
}
.browser.is-table {
	grid-auto-flow: row;
}

.browser__card {
	text-decoration: none;
}
.browser__card.is-hidden-by-tag,
.browser__card.is-hidden-by-search {
	display: none;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 244px;
	overflow: hidden;
	color: var(--text);
	transition: transform 0.18s cubic-bezier(.3,.85,.63,1.2);
}
.is-grid .card {
	border: 2px solid var(--border-light);
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(255,255,255,.7), 0 2px 6px rgba(0,0,0,0.25);
}
.is-table .card {
	width: 80vw;
	min-width: 300px;
	max-width: 800px;
	border: 2px dotted var(--border-light);
	border-width: 2px 0;
	margin-bottom: -2px;
	flex-direction: row;
	align-items: center;
}
.card:hover {
	transform: scale(1.035);
	z-index: 1;
}


.card__title {
	padding: 10px;
	line-height: 20px;
	font-size: 1em;
	font-size: 700;
	margin: 0;
}
.is-table .card__title {
	width: 50%;
}

.card__author {
}
.is-grid .card__author {
	padding: 0 10px 10px;
	margin-top: -10px;
	font-style: italic;
}
.is-grid .card__author::before {
	content: "by ";
}
.is-table .card__author {
	width: 30%;
}

.card__display {
	position: relative;
	width: 240px;
	height: 135px;
	flex: 0 0 auto;
}
.card__display--no-image {
	background-image: repeating-linear-gradient(
			-45deg,
			rgba(0,0,0,0.15) 0px,
			rgba(0,0,0,0.05) 6px,
			rgba(0,0,0,0.05) 6px,
			rgba(0,0,0,0) 9px
		);
}
.is-table .card__display {
	width: 80px;
	height: 45px;
}

.card__image {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	object-fit: cover;
	object-position: center;
}

.card__tag-list {
	display: flex;
	gap: 4px;
}
.is-grid .card__tag-list {
	position: relative;
	bottom: 8px;
	display: flex;
	padding: 0 8px;
	height: 0;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
}
.is-table .card__tag-list {
	width: 40%;
	padding: 10px;
	align-items: center;
	order: 4;
	flex: 1 1 auto;
	flex-wrap: wrap;
}

.card__tag {
	--tag-accent: var(--box);
	font-size: 12px;
}
.is-grid .card__tag {
	padding: 2px 4px;
	background: var(--tag-accent);
	border-radius: 4px;
}
.is-table .card__tag {
	font-weight: 700;
}
.is-table .card__tag::before {
	content: "";
	display: inline-block;
	width: .9em;
	height: .9em;
	background: var(--tag-accent);
	border-radius: .5em;
	margin: 2px 3px 0 0;
	vertical-align: top;
}
/*.is-grid .is-extended-tag {
	display: none;
}*/