/* NAV */

.nav {
	display: flex;
}
.nav--header {
	padding: 30px;
}

.nav__split {
	display: flex;
	width: 20%;
	flex: 1 1 auto;
	align-items: center;
}

.nav__split--left {
	order: 1;
	justify-content: left;
}

.nav__split--center {
	width: 60%;
	order: 50;
	justify-content: center;
}

.nav__split--right {
	order: 100;
	justify-content: right;
}

.nav__link {
	position: relative;
	display: inline-block;
	margin-left: 8px;
	cursor: pointer;
}

.nav__link-icon {
	color: var(--text);
	font-size: 24px;
}

.nav__link-text {
	position: absolute;
	left: 50%;
	top: 120%;
	padding: 3px 9px;
	background: var(--invert-background);
	border-radius: 20px;
	color: var(--accent-text);
	white-space: nowrap;
	text-decoration: none;
	opacity: 0;
	transform: translateX(-50%);
	transition: opacity 0.2s ease;
	pointer-events: none;
}
.nav__link-text--left {
	left: -12px;
	transform: none;
}
.nav__link-text--right {
	left: auto;
	transform: none;
	right: -12px;
}
.nav__link:hover .nav__link-text {
	opacity: 1;
}



/* Hyperlink Buttons */

.hyper-button {
	cursor: pointer;
}
.hyper-button:hover {
	color: var(--accent);
	text-decoration: underline;
}
.hyper-button.is-active {
	font-weight: bold;
}

.hyper-button__icon {
	font-size: 0.8em;
}



/* Filter Area */

.filter {
	padding: 0 30px;
}

.filter__row {
	display: flex;
	margin-bottom: 4px;
}
.filter__row--center {
	justify-content: center;
}


.dropdown {
	position: relative;
}

.dropdown__box {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 1;
	min-width: 100px;
	padding: 10px;
	background: var(--background);
	border-radius: 4px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	transform: translateX(-50%);
	text-align: center;
	display: none;
}

.dropdown:hover .dropdown__box {
	display: block;
}

.dropdown__item {
	display: block;
	padding: 2px 0;
	white-space: nowrap;
}


/* Browser */

.browser {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-content: flex-start;
	padding: 0 15px;
	min-height: calc(100vh - 300px);
}
.browser.is-table {
	flex-flow: column nowrap;
	align-items: center;
}

.browser__card {
	margin: 14px;
	text-decoration: none;
}
.is-table .browser__card {
	margin: 7px 0;
}
.browser__card.is-hidden-by-tag {
	display: none;
}

.card {
	display: flex;
	flex-direction: column;
	width: 244px;
	border: 2px solid var(--border-light);
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(255,255,255,.7), 0 2px 6px rgba(0,0,0,0.25);
	overflow: hidden;
	color: var(--text);
	transition: transform 0.18s cubic-bezier(.3,.85,.63,1.2);
}
.card:hover {
	transform: scale(1.035);
}

.is-table .card {
	width: 80vw;
	min-width: 300px;
	max-width: 800px;
	flex-direction: row;
}

.card__info {
	padding: 10px;
	line-height: 20px;
}
.is-table .card__info {
	display: flex;
	width: 40%;
	flex: 0 0 auto;
	order: 2;
	align-items: baseline;
}

.card__title {
	font-size: 1.3em;
	font-size: 700;
	margin: 0;
}

.card__author {
	font-style: italic;
}
.is-table .card__author {
	margin-left: 3px;
}

.card__display {
	position: relative;
	width: 240px;
	height: 135px;
	flex: 0 0 auto;
}
.card__display--no-image {
	background-image: repeating-linear-gradient(
			-45deg,
			rgba(0,0,0,0.15) 0px,
			rgba(0,0,0,0.05) 6px,
			rgba(0,0,0,0.05) 6px,
			rgba(0,0,0,0) 9px
		);
}
.is-table .card__display {
	width: 80px;
	height: 45px;
	order: 1;
}

.card__image {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	object-fit: cover;
	object-position: center;
}

.card__tag-list {
	display: flex;
	padding: 0 8px;
	height: 0;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
}
.is-table .card__tag-list {
	width: 40%;
	padding: 10px;
	height: auto;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	order: 3;
	flex: 1 1 auto;
}

.card__tag {
	position: relative;
	bottom: 8px;
	--tag-accent: var(--box);
	padding: 2px 4px;
	background: var(--tag-accent);
	border-radius: 4px;
	margin: 4px 0 0 4px;
	font-size: 12px;
}