/* GENERIC */

/* Checkbox toggles */

.toggle {
	--hover-offset: 2px;
	display: block;
	width: 32px;
	height: 16px;
	background: #efefef;
	border: 2px solid var(--border-light);
	border-radius: 8px;
	transition: background-color 0.1s ease;
}
.toggle::after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: var(--accent);
	border-radius: 8px;
	margin: -2px 0 0 -2px;
	transition: transform 0.1s ease;
}
.toggle:hover::after {
	transform: translateX(var(--hover-offset));
}

input:checked + .toggle {
	background: #2e51a2af;
}
input:checked + .toggle::after {
	transform: translateX(16px);
}
input:checked + .toggle:hover::after {
	transform: translateX(calc(16px - var(--hover-offset)));
}

.toggle.is-disabled::after {
	--hover-offset: 0;
	background: #a2512e;
}

input:checked + .toggle.is-forced {
	--hover-offset: 0;
	background: #2ea251af;
}
input:checked + .toggle.is-forced::after {
	background: #2ea251;
}

.toggle.has-info {
	cursor: help;
}

.info-popup {
	position: relative;
}
.info-popup__box {
	position: absolute;
	bottom: calc(100% + 10px);
	right: -8px;
	z-index: 5;
	display: none;
	width: 270px;
	padding: 8px;
	background: var(--background);
	border: 2px solid var(--border-light);

	color: var(--text);

	box-shadow: 2px 3px 6px rgba(0,0,0,0.3);
	opacity: 0;
	transition: opacity 0.1s ease;
	pointer-events: none;
}
.info-popup:hover .info-popup__box {
	opacity: 1;
}
.info-popup--activated-on-hover .info-popup__box,
.info-popup.has-info .info-popup__box {
	display: block;
}

/* decorative arrow */
.info-popup__box::before,
.info-popup__box::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-color: transparent;
}
.info-popup__box::before {
	top: 100%;
	right: 12px;
	border-width: 10px;
	border-top-color: var(--border-light);
}
.info-popup__box::after {
	bottom: -12px;
	right: 16px;
	border-width: 6px;
	border-top-color: var(--background);
}


/* Expando */

.expando {
	--margin: 5px;
	position: relative;
	width: calc(100% + var(--margin) * 2);
	padding: 0 var(--margin);
	left: calc(var(--margin) * -1);
	overflow: hidden;
}
.expando::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: linear-gradient(to top, var(--background), transparent);
	transition: opacity 0.2s ease-in;
	pointer-events: none;
}
.expando.is-innert::after,
.expando.is-expanded::after {
	opacity: 0;
}

.expando__button {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 3;
	padding: 3px 6px;
	background: var(--background);
	border: none;
	border-radius: 7px 7px 0 0;
	box-shadow: 0 3px 5px 3px var(--background);
	margin: 0;
	color: inherit;
	font-size: 14px;
	font-weight: bold;
	font-family: inherit;
	cursor: pointer;
	transform: translateX(-50%);
}
.expando.is-innert .expando__button {
	display: none;
}

.expando__button--subtle {
	font-weight: 400;
}


/* BBCode */

.bb {
	margin: 0;
}

.bb-list {
	padding-left: 16px;
	margin: 4px 0;
}



/* Sidebar */

.sidebar {
	--sidebar-width: calc(350px + 5vw);
	width: var(--sidebar-width);
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 3px solid var(--accent);
	flex: 0 0 auto;
	transition:
		margin-left 0.5s ease,
		scrollbar-color .18s ease-out;
	scrollbar-color: transparent var(--accent);
}
.sidebar:hover {
	scrollbar-color: var(--accent-text) var(--accent);
}
.sidebar.is-aside {
	margin-left: calc(var(--sidebar-width) * -1);
}

.sidebar__section {
	padding: 0 16px 16px;
	border-bottom: 2px dotted var(--border-heavy);
	margin: 0 0 16px;
	scrollbar-color: var(--border-heavy) transparent;
}
.sidebar__section--no-border {
	border: 0;
}
.sidebar__section--title {
	position: relative;
	padding: 16px;
	background: var(--accent);
	color: var(--background);
}
.sidebar__section--title::before,
.sidebar__section--title::after {
	content: "";
	position: absolute;
	right: 0;
	height: 20px;
	width: 20px;
	bottom: -20px;
}
.sidebar__section--title::before {
	background: var(--accent);
}
.sidebar__section--title::after {
	background: var(--background);
	border-radius: 0 100% 0 0;
}

.theme-tag {
	height: 24px;
	padding: 3px 6px;
	border: 2px solid var(--accent-text);
	border-radius: 4px;
	font-size: 12px;
	font-weight: 900;
	vertical-align: middle;
}

.sidebar__nav {
	float: right;
	height: 24px;
	--text: var(--accent-text);
}

.sidebar__header {
	font-size: 1.3em;
	margin: 0 0 8px;
}

.sidebar__header-aside {
	float: right;
	height: 0px;
	font-size: 14px;
	font-weight: normal;
}


/* Options/Mods/Sidebar sub-content */

.entry {
	padding-top: 6px;
	border-top: 2px dotted var(--border-light);
}
.entry.is-hidden-by-tag {
	display: none;
}

.entry__head {
	display: flex;
	min-height: 22px;
}
.entry__name {
	display: block;
	width: 50%;
	flex: 2 0 auto;
	font-weight: 400;
	margin-bottom: 2px;
}
.entry__name--emphasised {
	font-weight: 700;
}

.entry__desc {
	margin: 0 0 8px;
	font-size: 0.9em;
}

.entry__help {
	float: right;
	font-size: 12px;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.entry.has-help:hover .entry__help {
	opacity: 1;
}

.entry__textarea {
	min-height: 1.3em;
	height: 1.3em;
	max-height: 10em;
}

.entry__colour {
	position: relative;
	float: right;
	width: 1.3em;
	height: 1.3em;
	background: var(--border-light);
	margin-top: -32px;
	margin-right: 6px;
	border-radius: 50%;
}

.entry__external-link {
	color: var(--text);
}
.entry__external-link:hover {
	color: var(--accent);
}
.entry__external-link-icon {
	font-size: 20px;
}

.entry__select {
	font: inherit;
	margin: 0 0 8px;
}

.entry__options {
	display: none;
}
.entry.is-enabled .entry__options {
	display: block;
}



/* Info Box */

.info-box {
	--box-accent: var(--accent);
	position: relative;
	display: block;
	padding: 6px 6px 6px 13px;
	background: var(--box);
	border-left: 2px solid var(--box-accent);
	margin: 0 0 8px;
}
.info-box--error {
	--box-accent: var(--accent--error);
}
.info-box--indented {
	margin-left: 8px;
}

.info-box::before {
	content: "?";
	position: absolute;
	top: calc(50% - 8px);
	left: -9px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: var(--box-accent);
	color: var(--accent-text);
	text-align: center;
}
.info-box--error::before {
	content: "!";
}

.info-box__list {
	padding-left: 14px;
	margin: 6px 0 0 0;
}


.code__title {
	display: block;
	border-radius: 4px 4px 0 0;
	padding: 6px;
	background: #212127;
	margin-bottom: -4px;
	color: #fff;
	font-weight: 700;
}

.code__preview {
	height: 10em;
}


.alert-button {
	display: flex;
	padding: 10px;
	background: var(--background);
	box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
	border: 2px solid var(--border-light);
	border-radius: 8px;
	margin-bottom: 12px;
	cursor: pointer;
	color: var(--accent);
	font: inherit;
	text-align: left;
	transition: transform 0.18s cubic-bezier(.3,.85,.63,1.2);
}
.alert-button:hover {
	transform: scale(1.02);
}

.alert-button__icon {
	display: flex;
	width: 20px;
	place-content: center;
	align-self: center;
	margin-right: 8px;
	font-size: 20px;
}

.alert-button__title {
	font-size: 14px;
	font-weight: 700;
}

.alert-button__subtext {
	margin: 0;
	font-size: 12px;
}


/* Columns */

.columns {
	display: flex;
	overflow-x: auto;
	padding: 8px 0;
}

.columns__wrapper {
	flex-grow: 1;
}

.columns__glue {
	display: flex;
}

.columns__header {
	display: block;
	margin-bottom: 4px;
	font-weight: 700;
}

.columns__split {
	display: flex;
	flex-flow: column nowrap;
	width: 142px;
	max-width: 190px;
	flex: 1 0 auto;
}

.columns__split-header {
	display: block;
	font-weight: 700;
	margin-bottom: 5px;
}

.columns__item {
	white-space: nowrap;
}

.columns__check {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 2px solid var(--border-light);
	border-radius: 4px;
	vertical-align: top;
	margin-top: .15em;
}
.columns__check::before {
	display: block;
	text-align: center;
	color: var(--accent-text);
	font-size: 12px;
	line-height: 12px;
}

:checked + .columns__check {
	background: var(--accent);
	border-color: var(--accent);
}
:checked + .columns__check::before {
	content: "✔";
}

:indeterminate + .columns__check {
	background: rgb(29, 122, 35);
	border-color: rgb(29, 122, 35);
}
:indeterminate + .columns__check::before {
	content: "—";
}



/* PREVIEW */

.preview {
	position: relative;
	width: 80%;
	height: 100%;
	flex: 1 1 auto;
	overflow: hidden;
}

.preview__wrapper {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.preview__window {
	min-width: 1160px;
	width: 100%;
	min-height: 100%;
	border: none;
}



/* Slider Button */

.slider {
	position: absolute;
	left: 0;
	top: calc(50vh - 3em);
	display: flex;
	align-items: center;
	width: 1.5em;
	height: 3em;
	background: var(--accent);
	border-radius: 0 1.5em 1.5em 0;
	cursor: pointer;
}

.slider__icon {
	margin-left: 2px;
	color: var(--accent-text);
	font-size: 1.5em;
	transition: transform 0.5s ease;
}
.slider.is-active .slider__icon {
	transform: scaleX(-1);
}

.slider__text {
	text-indent: -9999px;
}



/* Stepped list */

.steps {
	padding-left: 30px;
	counter-reset: steps;
	font-size: 14px;
}

.steps__step {
	position: relative;
	min-height: 24px;
	counter-increment: steps;
}
.steps__step + .steps__step {
	margin-top: 8px;
}

.steps__step::marker {
	content: none;
}

.steps__step::before {
	content: counter(steps);
	position: absolute;
	left: -30px;
	width: 24px;
	height: 24px;
	background: var(--accent);
	border-radius: 50%;
	color: var(--accent-text);
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}
.steps__step--optional::before {
	content: "*";
}