/* Basics */

html {
	--myanimelist: #2e51a2;
	--border: rgb(216, 216, 216);
	--border-heavy: rgb(107, 107, 107);

	box-sizing: border-box;
}
* {
	box-sizing: inherit;
}

body {
	margin: 0;
	font: 14px/1.3 Roboto, Arial, Helvetica, sans-serif;
}

/* Generic Links */
.hyperlink {
	text-decoration: none;
	color: var(--myanimelist);
	cursor: pointer;
}
.hyperlink:link:hover {
	text-decoration: underline;
}

/* Generic buttons */
.button {
	display: inline-block;
	padding: 3px 6px;
	background: none;
	border: 2px solid var(--border);
	border-radius: 6px;
	margin: 0 6px 6px 0;
	color: #000;
	font: inherit;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
}
.button:active {
	opacity: 0.7;
}
.button--highlighted {
	background: var(--myanimelist);
	border-color: var(--myanimelist);
	color: #fff;
}

.swappable-text {
	height: 1.3em;
	overflow: hidden;
	line-height: 1.3em;
}
.swappable-text__inner {
	transition: transform 0.1s ease;
}
.swappable-text__inner--swapped {
	transform: translateY(-1.3em);
}

/* Checkbox toggles */
.toggle {
	position: relative;
	display: block;
	width: 32px;
	height: 16px;
	background: #efefef;
	border: 2px solid var(--border);
	border-radius: 8px;
	transition: background-color 0.1s ease;
}
.toggle::after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: var(--myanimelist);
	border-radius: 8px;
	margin: -2px 0 0 -2px;
	transition: transform 0.1s ease;
}

input:checked + .toggle {
	background: #2e51a2af;
}
input:checked + .toggle::after {
	transform: translateX(16px);
}

.toggle--disabled::after {
	background: #a2512e;
}

input:checked + .toggle--forced {
	background: #2ea251af;
}
input:checked + .toggle--forced::after {
	background: #2ea251;
}

.toggle--has-extra-info {
	cursor: help;
}
.toggle__info {
	position: absolute;
	bottom: 22px;
	right: -8px;
	display: none;
	width: 270px;
	padding: 8px;
	background: #fff;
	border: 2px solid var(--border);

	box-shadow: 2px 3px 6px rgba(0,0,0,0.3);
	opacity: 0;
	transition: opacity 0.1s ease;
	pointer-events: none;
}
.toggle:hover .toggle__info {
	opacity: 1;
}
.toggle--has-extra-info .toggle__info {
	display: block;
}

/* decorative arrow */
.toggle__info::before,
.toggle__info::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-color: transparent;
}
.toggle__info::before {
	top: 100%;
	right: 12px;
	border-width: 10px;
	border-top-color: var(--border);
}
.toggle__info::after {
	bottom: -12px;
	right: 16px;
	border-width: 6px;
	border-top-color: #fff;
}



/* Sidebar/Content */

.content {
	display: flex;
	height: 100vh;
	opacity: 0;
	transition: opacity 200ms ease;
}
.content.loaded {
	opacity: 1;
}

.sidebar {
	width: calc(300px + 10vw);
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 3px solid var(--myanimelist);
	flex: 0 0 auto;
}

.sidebar__nav {
	position: relative;
	z-index: 1;
	padding: 16px;
	float: right;
}

.sidebar__nav-link {
	display: inline-block;
	margin-left: 8px;
}

.sidebar__nav-link-icon {
	color: #fff;
	font-size: 24px;
}

.sidebar__section {
	padding: 0 16px 16px;
	border-bottom: 2px dotted var(--border-heavy);
	margin: 0 0 16px;
}

.c-notice {
	padding: 8px;
	margin-bottom: 6px;
	border-left: 4px solid rgb(188, 70, 70);
}
.c-notice--fixed-to-bottom {
	position: sticky;
	bottom: 8px;
}
.c-notice::before {
	content: "!";
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	text-align: center;
	background: rgb(188, 70, 70);
	border-radius: 50%;
	color: #fff;
	margin-right: 3px;
}

.c-notice__list {
	padding-left: 14px;
	margin: 6px 0 0 0;
}

.sidebar__section--no-border {
	border: 0;
}

.sidebar__section--title {
	position: relative;
	padding: 16px;
	background: var(--myanimelist);
	color: #fff;
}

.sidebar__section--title::before,
.sidebar__section--title::after {
	content: "";
	position: absolute;
	right: 0;
	height: 20px;
	width: 20px;
	bottom: -20px;
}
.sidebar__section--title::before {
	background: #2e51a2;
}
.sidebar__section--title::after {
	background: white;
	border-radius: 0 100% 0 0;
}

.sidebar__title {
	margin: 0;
	font-size: 2em;
}

.sidebar__sub-title {
	margin: 0;
	font-size: 1.25em;
}

.sidebar__header {
	font-size: 1.3em;
	margin: 0 0 8px;
}


.option {
	padding-top: 6px;
	border-top: 2px dotted var(--border);
}
/* .option--disabled {
	opacity: 0.5;
	pointer-events: none;
} */

.option__name {
	display: block;
	font-weight: 400;
	margin-bottom: 2px;
}

.option__input {
	width: calc(100% - 4px);
	padding: 4px;
	border: 2px solid var(--border);
	border-radius: 4px;
	margin-bottom: 8px;
	box-sizing: content-box;
	font: inherit;
}

.option__input--textarea {
	min-height: 1.3em;
	height: 1.3em;
	max-height: 10em;
	resize: vertical;
}


.mod {
	padding-top: 6px;
	border-top: 2px dotted var(--border);
}

.mod__name {
	display: block;
	font-weight: 700;
	margin-bottom: 2px;
}

.mod__desc {
	margin: 0 0 8px;
	font-size: 0.9em;
}

.mod__toggle-box {
	float: right;
}

.mod__options {
	display: none;
}
.mod--checked .mod__options {
	display: block;
}


.c-code__title {
	display: inline-block;
	margin-bottom: 4px;
	font-weight: 700;
}

.c-code__preview {
	padding: 6px;
	max-height: 10em;
	background: #2a2a2a;
	border-radius: 6px;
	box-shadow: inset 1px 2px 5px rgba(0,0,0,0.2);
	margin: 0 0 8px;
	overflow: auto;
	color: #dbdbdb;
	font: 11px/1.1 monospace;
	white-space: pre-wrap;
}


.c-columns {
	display: grid;
	padding-bottom: 8px;
	border-bottom: 2px dotted var(--border);
	margin-bottom: 8px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "top top" "left right";
}

.c-columns__blurb {
	grid-area: top;
}

.c-columns__split {
	display: flex;
	flex-flow: column nowrap;
}
.c-columns__split--left {
	grid-area: left;
}
.c-columns__split--right {
	grid-area: right;
}

/* Footer */

.footer__row {
	display: block;
	padding: 4px 0;
	text-align: center;
}

.footer__subtle-text {
	font-size: 0.9em;
}

.footer__separator {
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #4a4a4a;
	border-radius: 50%;
	margin: 0 3px;
	color: transparent;
	vertical-align: middle;
}

/* Preview */

.preview {
	position: relative;
	width: 80%;
	flex: 1 1 auto;
	overflow-x: auto;
	overflow-y: hidden;
}

.preview::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100vh;
	background: linear-gradient(to right, #00000030, transparent);
	pointer-events: none;
}

.preview__window {
	min-width: 1160px;
	width: 100%;
	height: 100%;
	border: none;
}

/* Popups */

.c-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	overflow: auto;
	background: rgba(0,0,0,0.6);
}
.c-popup__inner {
	position: relative;
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.c-popup__invisibutton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.c-popup__content {
	position: relative;
	z-index: 1;
	width: 800px;
	max-width: 100%;
	padding: 16px;
	background: #fff;
	border-radius: 8px;
	flex: 0 0 auto;
	box-shadow: 0 4px 32px rgba(0,0,0,0.4);
}

.c-install {
}


/* Loading */

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	animation: 500ms ease 500ms both loader-fade-in;
	transition: transform 0.4s ease;
}
.loading-screen.hidden {
	transform: translateY(100%);
}

@keyframes loader-fade-in {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

.loading-screen__spinner {
	width: 118px;
	height: 118px;
	border: 6px solid transparent;
	border-top-color: #000;
	border-left-color: #000;
	border-radius: 50%;
	margin-bottom: 16px;
	animation: 1s cubic-bezier(.54,.39,.45,.63) 0s infinite loader-spin;
}
.loading-screen__cross {
	position: relative;
	width: 124px;
	height: 124px;
	overflow: hidden;
}
.loading-screen__cross::before,
.loading-screen__cross::after {
	content: "";
	position: absolute;
	top: calc(50% - 8px);
	left: -25%;
	width: 150%;
	height: 16px;
	background: #000;
}
.loading-screen__cross::before {
	transform: rotate(45deg);
}
.loading-screen__cross::after {
	transform: rotate(-45deg);
}

@keyframes loader-spin {
	from {
		transform: rotate(30deg);
	} to {
		transform: rotate(390deg);
	}
}

.loading-screen__text {
	margin-bottom: 8px;
	font-size: 20px;
	white-space: nowrap;
}

.loading-screen__subtext {
	margin-bottom: 6px;
	opacity: 0.65;
	font-size: 14px;
	font-style: italic;
}

/* Overrides */

.o-hidden {
	display: none;
}

.o-hidden-text {
	display: inline-block;
	width: 0;
	height: 0;
	text-indent: -9999px;
}