/* GENERIC */

* {
	scrollbar-color: var(--accent-text) var(--invert-background);
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-corner {
	background: var(--invert-background);
}
*::-webkit-scrollbar-thumb {
	background: var(--background);
    border: 2px solid var(--invert-background);
    border-radius: 4px;
}
*::-webkit-scrollbar-button:vertical {
	background: center / 10px auto no-repeat transparent;
}
*::-webkit-scrollbar-button:vertical:start {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI0MCI+PHBvbHlnb24gcG9pbnRzPSIyNSwwIDAsNDAgNTAsNDAiIGZpbGw9IiNmZmYiIC8+PC9zdmc+");
}
*::-webkit-scrollbar-button:vertical:end {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI0MCI+PHBvbHlnb24gcG9pbnRzPSIyNSw0MCAwLDAgNTAsMCIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=");
}
*::-webkit-scrollbar-button:horizontal {
	background: center / auto 10px no-repeat transparent;
}
*::-webkit-scrollbar-button:horizontal:start {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI1MCI+PHBvbHlnb24gcG9pbnRzPSI0MCwwIDQwLDUwIDAsMjUiIGZpbGw9IiNmZmYiIC8+PC9zdmc+");
}
*::-webkit-scrollbar-button:horizontal:end {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI1MCI+PHBvbHlnb24gZmlsbD0iI2ZmZiIgcG9pbnRzPSIwLDAgMCw1MCA0MCwyNSI+PC9wb2x5Z29uPjwvc3ZnPg==");
}
*::-webkit-scrollbar-button:start:increment,
*::-webkit-scrollbar-button:end:decrement
{
    display: none;
}

.has-info {
	cursor: help;
}

/* Select */

.select {
	padding: 4px 20px 4px 4px;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI0MCI+PHBvbHlnb24gcG9pbnRzPSIyNSw0MCAwLDAgNTAsMCIgZmlsbD0iI2Q4ZDhkOCIgLz48L3N2Zz4=") calc(100% - 6px) center / 12px auto no-repeat;
	border: 2px solid var(--border-light);
	border-radius: 4px;
	font: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* Checkbox toggles */

.toggle {
	--hover-offset: 2px;
	display: block;
	width: 32px;
	height: 16px;
	background: #efefef;
	border: 2px solid var(--border-light);
	border-radius: 8px;
	transition: background-color 0.1s ease;
}
.toggle::after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: var(--accent);
	border-radius: 8px;
	margin: -2px 0 0 -2px;
	transition: transform 0.1s ease;
}
.toggle:hover::after {
	transform: translateX(var(--hover-offset));
}

input:checked + .toggle {
	background: #2e51a2af;
}
input:checked + .toggle::after {
	transform: translateX(16px);
}
input:checked + .toggle:hover::after {
	transform: translateX(calc(16px - var(--hover-offset)));
}

.toggle.is-disabled::after {
	--hover-offset: 0;
	background: #a2512e;
}

input:checked + .toggle.is-forced {
	background: #2ea251af;
}
input:checked + .toggle.is-forced::after {
	--hover-offset: 0;
	background: #2ea251;
	transform: translateX(16px);
}


/* Expando */

.expando {
	--margin: 5px;
	position: relative;
	width: calc(100% + var(--margin) * 2);
	padding: 0 var(--margin);
	left: calc(var(--margin) * -1);
	overflow: hidden;
}
.expando::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: linear-gradient(to top, var(--background), transparent);
	transition: opacity 0.2s ease-in;
	pointer-events: none;
}
.expando.is-innert::after,
.expando.is-expanded::after {
	opacity: 0;
}

.expando__button {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 3;
	padding: 3px 6px;
	background: var(--background);
	border: none;
	border-radius: 7px 7px 0 0;
	box-shadow: 0 3px 5px 3px var(--background);
	margin: 0;
	color: inherit;
	font-size: 14px;
	font-weight: bold;
	font-family: inherit;
	cursor: pointer;
	transform: translateX(-50%);
}
.expando.is-innert .expando__button {
	display: none;
}

.expando__button--subtle {
	font-weight: 400;
}


/* BBCode */

.bb {
	margin: 0;
}

.bb-list {
	padding-left: 16px;
	margin: 4px 0;
}



/* Topbar */

.topbar {
	position: relative;
	z-index: 10;
	display: flex;
	background: var(--invert-background);
	justify-content: space-between;
	flex-flow: row wrap;
	grid-area: top;
}

.topbar__section {
	float: var(--place);
	display: flex;
	height: 50px;
	margin: 0 15px;
	align-items: center;
	flex-shrink: 0;
}


/* Top Nav */

.top-nav {
	display: flex;
}

.top-nav__link {
	display: flex;
	height: 30px;
	padding: 0 9px;
	border-radius: 20px;
	margin-right: 7.5px;
	align-items: center;
	color: var(--accent-text);
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.1s ease-out;
}
.top-nav__link:hover {
	background: var(--accent-box);
}
.top-nav__link:active {
	transform: scale(0.93);
}

.top-nav__icon {
	color: var(--accent-text);
	font-size: 24px;
}

.top-nav__text {
	margin-left: 9px;
}

/* Options */

.options {
	position: relative;
}

.options__container {
	position: absolute;
	top: 50px;
	right: 0;
	display: flex;
	padding: 15px;
	background: var(--background);
	border: 2px solid var(--accent);
	border-radius: 8px;
	transition-property: transform, opacity;
	transition-timing-function: ease;
	transition-duration: 0.1s;
}
.options__container.is-hidden {
	opacity: 0;
	transform: scale(0.9);
	transition-duration: 0.2s;
	pointer-events: none;
}

.options__item + .options__item {
	margin-left: 15px;
}

.options__title {
	display: block;
	white-space: nowrap;
	margin-bottom: 4px;
}


/* Preview Notice */

.discrepancy-notice {
	position: relative;
	height: 30px;
	margin-right: 15px;
	cursor: help;
}

.discrepancy-notice__title {
	color: var(--accent-text);
	line-height: 30px;
}

.discrepancy-notice__body {
	position: absolute;
	top: 50px;
	z-index: 1;
	width: 100%;
	padding: 15px;
	border: 2px solid var(--border-light);
	background: var(--background);
	border-radius: 8px;
	transition: opacity 0.15s ease-out;
	opacity: 0;
	pointer-events: none;
}
.discrepancy-notice:hover .discrepancy-notice__body {
	opacity: 1;
}



/* Sidebar Scrollbar */

.sidebar:not(:hover)::-webkit-scrollbar-thumb {
	background: var(--invert-background);
}
.sidebar:not(:hover)::-webkit-scrollbar-button:vertical {
	background: var(--invert-background);
}

/* Sidebar */

.sidebar {
	display: flex;
	flex-flow: column;
	--sidebar-width: calc(350px + 5vw);
	width: var(--sidebar-width);
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 2px solid var(--invert-background);
	flex: 0 0 auto;
	grid-area: left;
	transition:
		margin-left 0.5s ease,
		scrollbar-color .18s ease-out;
	scrollbar-color: var(--invert-background) var(--invert-background);
}
.sidebar:hover {
	scrollbar-color: var(--accent-text) var(--invert-background);
}
.sidebar.is-aside {
	margin-left: calc(var(--sidebar-width) * -1 + 4px);
}

.sidebar__inner {
	border-right: inherit;
	flex-grow: 1;
}

/* Rounded accent */

.sidebar__decorative {
	position: sticky;
	top: 0;
	z-index: 1;
	height: 20px;
	margin-bottom: -5px;
	background: linear-gradient(to bottom, var(--background), transparent);
	pointer-events: none;
}

@supports (mask-image: url()) or (-webkit-mask-image: url()) {
	.preview::after,
	.sidebar__decorative::after {
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		background: var(--invert-background);
		pointer-events: none;
		--svg: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCI+PGRlZnM+PG1hc2sgeD0iMCIgeT0iMCIgaWQ9ImNpcmNsZSIgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIj48cmVjdCBmaWxsPSJ3aGl0ZSIgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIj48L3JlY3Q+PGNpcmNsZSBmaWxsPSJibGFjayIgY3g9IjIwIiBjeT0iMjAiIHI9IjIwIj48L2NpcmNsZT48L21hc2s+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgZmlsbD0iYmxhY2siIG1hc2s9InVybCgjY2lyY2xlKSI+PC9yZWN0Pjwvc3ZnPg==");
		-webkit-mask-image: var(--svg);
		mask-image: var(--svg);
		-webkit-mask-size: 40px 40px;
		mask-size: 40px 40px;
	}
	.preview::after {
		left: var(--sidebar-width);
		top: 0;
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
	.sidebar__decorative::after {
		right: 0;
		-webkit-mask-position: -20px 0;
		mask-position: -20px 0;
	}
}

/* Sections */

.sidebar__section {
	padding: 0 16px 16px;
	border-bottom: 2px dotted var(--border-heavy);
	margin: 0 0 16px;
	scrollbar-color: var(--border-heavy) transparent;
}
.sidebar__section--no-border {
	border: 0;
}

.theme-tag {
	height: 24px;
	padding: 3px 6px;
	border: 2px solid var(--accent-text);
	border-radius: 4px;
	font-size: 12px;
	font-weight: 900;
	vertical-align: middle;
}

.sidebar__header {
	font-size: 1.3em;
	margin: 0 0 8px;
}

.sidebar__header-aside {
	float: right;
	height: 0px;
	font-size: 14px;
	font-weight: normal;
}


/* Options/Mods/Sidebar sub-content */

.entry {
	padding-top: 6px;
	border-top: 2px dotted var(--border-light);
}
.entry.is-hidden-by-tag {
	display: none;
}

.entry__head {
	display: flex;
	min-height: 22px;
}
.entry__name {
	display: block;
	width: 50%;
	flex: 2 0 auto;
	font-weight: 400;
	margin-bottom: 2px;
}
.entry__name--emphasised {
	font-weight: 700;
}

.entry__desc {
	margin: 0 0 8px;
	font-size: 0.9em;
}

.entry__help {
	float: right;
	font-size: 12px;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.entry__option:hover .entry__help {
	opacity: 1;
}

.entry__textarea {
	min-height: 1.3em;
	height: 1.3em;
	max-height: 10em;
}

/* entry inputs */

.entry__inputs {
	display: flex;
	align-items: center;
}

.entry__colour {
	position: relative;
	width: 54px;
	height: 24px;
	background: var(--border-light);
	border-radius: 12px;
	margin-bottom: 8px;
	cursor: pointer;
	overflow: hidden;
}

.entry__colour::before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	width: 55%;
	height: 24px;
	border-radius: 12px;
	background: url(../picker/alpha.png) repeat;
}
.entry__colour::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: inherit;
}

.entry__reset {
	background: none;
	border-color: transparent;
	flex: 0 0 auto;
	margin: 0 0 8px auto;
	order: 3;
	opacity: 0.1;
	transition: opacity 0.2s ease;
}
.entry__option:hover .entry__reset {
	opacity: .35;
}
.entry__option:hover .entry__reset:hover {
	opacity: 1;
}

/* entry external link */

.entry__external-link {
	color: var(--text);
}
.entry__external-link:hover {
	color: var(--accent);
}
.entry__external-link-icon {
	font-size: 20px;
}

.entry__select {
	margin: 0 0 8px;
	min-width: 100px;
}

.entry__options {
	display: none;
}
.entry.is-enabled .entry__options {
	display: block;
	padding-left: 15px;
	border-left: 1px solid var(--border-light);
}



/* Info Box */

.info-box {
	--box-accent: var(--accent);
	position: relative;
	display: block;
	padding: 6px 6px 6px 13px;
	background: var(--box);
	border-left: 2px solid var(--box-accent);
	margin: 0 0 8px;
}
.info-box--error {
	--box-accent: var(--accent--error);
}
.info-box--indented {
	margin-left: 8px;
}

.info-box::before {
	content: "?";
	position: absolute;
	top: calc(50% - 8px);
	left: -9px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: var(--box-accent);
	color: var(--accent-text);
	text-align: center;
}
.info-box--error::before {
	content: "!";
}

.info-box__list {
	padding-left: 14px;
	margin: 6px 0 0 0;
}


.code__title {
	display: block;
	border-radius: 4px 4px 0 0;
	padding: 6px;
	background: #212127;
	margin-bottom: -4px;
	color: #fff;
	font-weight: 700;
}

.code__preview {
	height: 10em;
}


.alert-button {
	display: flex;
	padding: 10px;
	background: var(--background);
	box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
	border: 2px solid var(--border-light);
	border-radius: 8px;
	margin-bottom: 12px;
	cursor: pointer;
	color: var(--accent);
	font: inherit;
	text-align: left;
	transition: transform 0.18s cubic-bezier(.3,.85,.63,1.2);
}
.alert-button:hover {
	transform: scale(1.02);
}

.alert-button__icon {
	display: flex;
	width: 20px;
	place-content: center;
	align-self: center;
	margin-right: 8px;
	font-size: 20px;
}

.alert-button__title {
	font-size: 14px;
	font-weight: 700;
}

.alert-button__subtext {
	margin: 0;
	font-size: 12px;
}


/* Columns */

.columns {
	display: flex;
	flex-flow: row wrap;
	padding: 8px 0;
}

.columns__wrapper {
	width: 50%;
	flex-grow: 1;
}

.columns__glue {
	display: flex;
}

.columns__header {
	display: block;
	margin-bottom: 4px;
	font-weight: 700;
}

.columns__split {
	display: flex;
	flex-flow: column nowrap;
	width: 138px;
	max-width: 190px;
	flex: 1 0 auto;
}

.columns__split-header {
	display: block;
	font-weight: 700;
	margin-bottom: 5px;
}

.columns__item {
	white-space: nowrap;
	margin-right: 8px;
}

.columns__check {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 2px solid var(--border-light);
	border-radius: 4px;
	vertical-align: top;
	margin-top: .15em;
}
.columns__check::before {
	display: block;
	text-align: center;
	color: var(--accent-text);
	font-size: 12px;
	line-height: 12px;
}

.columns__check--checked {
	background: var(--accent);
	border-color: var(--accent);
}
.columns__check--checked::before {
	content: "✔";
}

.columns__check--optional {
	border-color: rgb(29, 122, 35);
}
.columns__check--optional::before {
	content: "—";
	color: rgb(29, 122, 35);
}

.columns__legend {
	width: 100%;
	flex-shrink: 0;
	margin-top: 8px;
}

.columns__legend-list {
	display: flex;
}



/* PREVIEW */

.preview {
	position: relative;
	width: 100%;
	height: 100%;
	flex: 1 1 auto;
	overflow: hidden;
	grid-area: right;
}

.preview__window-wrapper {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.preview__window {
	min-width: 1160px;
	width: 100%;
	min-height: 100%;
	border: none;
}



/* Preview Slider Button */

.slider {
	position: absolute;
	left: 0;
	top: calc(50vh - 3em);
	display: flex;
	align-items: center;
	width: 1.5em;
	height: 3em;
	background: var(--invert-background);
	border-radius: 0 1.5em 1.5em 0;
	cursor: pointer;
	transition: box-shadow 0.18s ease;
}
.slider:hover {
	box-shadow: 0 0 0 15px rgb(0 0 0 / 50%);
}

.slider__icon {
	margin-left: 2px;
	color: var(--accent-text);
	font-size: 1.5em;
	transition: transform 0.5s ease;
}
.slider.is-active .slider__icon {
	transform: scaleX(-1);
}

.slider__text {
	text-indent: -9999px;
}



/* Stepped list */

.steps {
	padding-left: 30px;
	counter-reset: steps;
	font-size: 14px;
}

.steps__step {
	position: relative;
	min-height: 24px;
	counter-increment: steps;
}
.steps__step + .steps__step {
	margin-top: 8px;
}

.steps__step::marker {
	content: none;
}

.steps__step::before {
	content: counter(steps);
	position: absolute;
	left: -30px;
	width: 24px;
	height: 24px;
	background: var(--accent);
	border-radius: 50%;
	color: var(--accent-text);
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}
.steps__step--optional::before {
	content: "*";
}
.steps__step--blank::before {
	content: none;
}

/* Dynamic Popups */

.dynamic-popup {
	position: fixed;
	z-index: 15;
	width: 270px;
	padding: 8px;
	background: var(--background);
	border: 2px solid var(--border-light);
	border-radius: 4px;
	box-shadow: 2px 3px 6px rgba(0,0,0,0.3);
	color: var(--text);
	opacity: 0;
	transition: opacity 0.1s ease;
	pointer-events: none;
}
.dynamic-popup.is-visible {
	opacity: 1;
}

/* decorative arrow */
.dynamic-popup::before,
.dynamic-popup::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-color: transparent;
}
.dynamic-popup::before {
	border-width: 10px;
}
.dynamic-popup::after {
	border-width: 6px;
}

.dynamic-popup.left::before {
	right: 100%;
	top: calc(50% - 10px);
	border-right-color: var(--border-light);
}
.dynamic-popup.left::after {
	right: 100%;
	top: calc(50% - 6px);
	border-right-color: var(--background);
}

.dynamic-popup.right::before {
	left: 100%;
	top: 12px;
	border-left-color: var(--border-light);
}
.dynamic-popup.right::after {
	left: 100%;
	top: 16px;
	border-left-color: var(--background);
}

.dynamic-popup.top::before {
	left: calc(50% - 10px);
	bottom: 100%;
	border-bottom-color: var(--border-light);
}
.dynamic-popup.top::after {
	left: calc(50% - 6px);
	bottom: 100%;
	border-bottom-color: var(--background);
}

.dynamic-popup.bottom::before {
	left: calc(50% - 10px);
	top: 100%;
	border-top-color: var(--border-light);
}
.dynamic-popup.bottom::after {
	left: calc(50% - 6px);
	top: 100%;
	border-top-color: var(--background);
}

/* Colour picker */

.dynamic-popup--picker {
	z-index: 14;
	width: 1020px;
	height: 610px;
}
.dynamic-popup--picker.is-visible {
	pointer-events: auto;
}

.dynamic-popup__frame {
	width: 100%;
	height: 100%;
	border: none;
}

/* Dummy Theme Unit to replicate MyAnimeList appearance */

.dummy-theme-unit {
	display: block;
	background-color: #e1e7f5;
	border: #bebebe 1px solid;
	width: 170px;
	margin-bottom: 8px;
	box-sizing: content-box;
	font-family: 11px/1 Verdana, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
}

.dummy-theme-unit__name {
	padding: 2px 0;
	margin-bottom: 3px;
	color: #1c439b;
	pointer-events: none;
}

.dummy-theme-unit__image {
	display: block;
	margin-bottom: 3px;
	opacity: .75;
	pointer-events: none;
}

.dummy-theme-unit__selection {
	padding: 4px 0;
	pointer-events: none;
}

.dummy-theme-unit__label {
	display: inline-block;
	padding: 1px 4px;
}