/* GENERIC */

.hyperlink {
	text-decoration: none;
	color: var(--accent);
	cursor: pointer;
}
.hyperlink:link:hover {
	text-decoration: underline;
}


/* Buttons */

.button {
	display: inline-block;
	padding: 3px 6px;
	background: none;
	border: 2px solid var(--border-light);
	border-radius: 6px;
	margin: 0 6px 6px 0;
	color: var(--text);
	font: inherit;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
}
.button:active {
	opacity: 0.7;
}
.button--highlighted {
	background: var(--accent);
	border-color: var(--accent);
	color: var(--accent-text);
}

.swappable-text {
	height: 1.3em;
	overflow: hidden;
	line-height: 1.3em;
}
.swappable-text__text {
	transition: transform 0.1s ease;
}
.swappable-text.is-swapped .swappable-text__text {
	transform: translateY(-1.3em);
}


/* Fields/Inputs */

.input {
	display: block;
	width: calc(100% - 12px);
	padding: 4px;
	border: 2px solid var(--border-light);
	border-radius: 4px;
	margin-bottom: 8px;
	box-sizing: content-box;
	resize: none;
	font: inherit;
}

.input--textarea {
	height: 4.2em;
	min-height: 1.3em;
	max-height: 70vh;
	resize: vertical;
}


/* Checkbox toggles */

.toggle {
	display: block;
	width: 32px;
	height: 16px;
	background: #efefef;
	border: 2px solid var(--border-light);
	border-radius: 8px;
	transition: background-color 0.1s ease;
}
.toggle::after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: var(--accent);
	border-radius: 8px;
	margin: -2px 0 0 -2px;
	transition: transform 0.1s ease;
}

input:checked + .toggle {
	background: #2e51a2af;
}
input:checked + .toggle::after {
	transform: translateX(16px);
}

.toggle.is-disabled::after {
	background: #a2512e;
}

input:checked + .toggle.is-forced {
	background: #2ea251af;
}
input:checked + .toggle.is-forced::after {
	background: #2ea251;
}

.toggle.has-info {
	cursor: help;
}

.info-popup {
	position: relative;
}
.info-popup__box {
	position: absolute;
	bottom: calc(100% + 10px);
	right: -8px;
	z-index: 5;
	display: none;
	width: 270px;
	padding: 8px;
	background: var(--background);
	border: 2px solid var(--border-light);

	color: var(--text);

	box-shadow: 2px 3px 6px rgba(0,0,0,0.3);
	opacity: 0;
	transition: opacity 0.1s ease;
	pointer-events: none;
}
.info-popup:hover .info-popup__box {
	opacity: 1;
}
.info-popup--activated-on-hover .info-popup__box,
.info-popup.has-info .info-popup__box {
	display: block;
}

/* decorative arrow */
.info-popup__box::before,
.info-popup__box::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-color: transparent;
}
.info-popup__box::before {
	top: 100%;
	right: 12px;
	border-width: 10px;
	border-top-color: var(--border-light);
}
.info-popup__box::after {
	bottom: -12px;
	right: 16px;
	border-width: 6px;
	border-top-color: var(--background);
}


/* Expando */

.expando {
	--margin: 5px;
	position: relative;
	width: calc(100% + var(--margin) * 2);
	padding: 0 var(--margin);
	left: calc(var(--margin) * -1);
	overflow: hidden;
}
.expando::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: linear-gradient(to top, var(--background), transparent);
	transition: opacity 0.2s ease-in;
	pointer-events: none;
}
.expando.is-innert::after,
.expando.is-expanded::after {
	opacity: 0;
}

.expando__button {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 3;
	padding: 3px 6px;
	background: var(--background);
	border: none;
	border-radius: 7px 7px 0 0;
	box-shadow: 0 3px 5px 3px var(--background);
	margin: 0;
	color: inherit;
	font-size: 14px;
	font-weight: bold;
	font-family: inherit;
	cursor: pointer;
	transform: translateX(-50%);
}
.expando.is-innert .expando__button {
	display: none;
}

.expando__button--subtle {
	font-weight: 400;
}


/* BBCode */

.bb {
	margin: 0;
}

.bb-list {
	padding-left: 16px;
	margin: 4px 0;
}



/* CONTENT */

.content {
	display: flex;
	height: 100vh;
	opacity: 0;
	transition: opacity 200ms ease;
}
.content.is-loaded {
	opacity: 1;
}


/* Sidebar */

.sidebar {
	width: calc(300px + 10vw);
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 3px solid var(--accent);
	flex: 0 0 auto;
}

.sidebar__section {
	padding: 0 16px 16px;
	border-bottom: 2px dotted var(--border-heavy);
	margin: 0 0 16px;
}
.sidebar__section--no-border {
	border: 0;
}
.sidebar__section--title {
	position: relative;
	padding: 16px;
	background: var(--accent);
	color: var(--background);
}
.sidebar__section--title::before,
.sidebar__section--title::after {
	content: "";
	position: absolute;
	right: 0;
	height: 20px;
	width: 20px;
	bottom: -20px;
}
.sidebar__section--title::before {
	background: var(--accent);
}
.sidebar__section--title::after {
	background: var(--background);
	border-radius: 0 100% 0 0;
}

.sidebar__nav {
	position: relative;
	z-index: 1;
	padding: 16px;
	float: right;
}

.sidebar__nav-link {
	position: relative;
	display: inline-block;
	margin-left: 8px;
}

.sidebar__nav-link-icon {
	color: var(--accent-text);
	font-size: 24px;
}

.sidebar__nav-link-text {
	position: absolute;
	left: 50%;
	top: 120%;
	padding: 3px 9px;
	background: var(--invert-background);
	border-radius: 20px;
	color: var(--accent-text);
	white-space: nowrap;
	text-decoration: none;
	opacity: 0;
	transform: translateX(-50%);
	transition: opacity 0.2s ease;
	pointer-events: none;
}
.sidebar__nav-link:hover .sidebar__nav-link-text {
	opacity: 1;
}

.sidebar__title {
	margin: 0;
	font-size: 2em;
}

.sidebar__sub-title {
	margin: 0;
	font-size: 1.25em;
}

.sidebar__header {
	font-size: 1.3em;
	margin: 0 0 8px;
}


/* Options/Mods/Sidebar sub-content */

.entry {
	padding-top: 6px;
	border-top: 2px dotted var(--border-light);
}
.entry.is-hidden-by-tag {
	display: none;
}

.entry__head {
	display: flex;
	height: 22px;
}
.entry__name {
	display: block;
	width: 50%;
	flex: 2 0 auto;
	font-weight: 400;
	margin-bottom: 2px;
}
.entry__name--emphasised {
	font-weight: 700;
}

.entry__desc {
	margin: 0 0 8px;
	font-size: 0.9em;
}

.entry__help {
	float: right;
	font-size: 12px;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.entry.has-help:hover .entry__help {
	opacity: 1;
}

.entry__textarea {
	min-height: 1.3em;
	height: 1.3em;
	max-height: 10em;
}

.entry__colour {
	position: relative;
	float: right;
	width: 1.3em;
	height: 1.3em;
	background: var(--border-light);
	margin-top: -32px;
	margin-right: 6px;
	border-radius: 50%;
}

.entry__external-link {
	color: var(--text);
}
.entry__external-link:hover {
	color: var(--accent);
}
.entry__external-link-icon {
	font-size: 20px;
}

.entry__select {
	font: inherit;
}

.entry__options {
	display: none;
}
.entry.is-enabled .entry__options {
	display: block;
}


/* Tags */

.tags {
	margin-bottom: 4px;
}

.tags__button {
	margin-bottom: 4px;
	font-weight: 700;
}
.tags__button:hover {
	color: var(--accent);
}
.tags.has-selected .tags__button {
	color: var(--accent);
	border-color: var(--accent);

}

.tags__blurb {
	font-size: 11px;
	display: block;
	width: 100%;
	flex: 0 0 auto;
	margin-bottom: 4px;
}

.tags__cloud {
	display: flex;
	flex-flow: row wrap;
}
.tags__cloud.is-hidden {
	display: none;
}

.tags__tag {
	height: 24px;
	padding: 2px 8px;
	background: none;
	border: 2px solid var(--border-light);
	border-radius: 50px;
	margin-right: 4px;
	margin-bottom: 4px;
	flex: 0 0 auto;
	font: inherit;
	line-height: 16px;
	white-space: pre-wrap;
	cursor: pointer;
	transition-property: background-color, color, border-color;
	transition-duration: 0.1s;
	transition-timing-function: ease;
}
.tags__tag:hover {
	background: var(--box);
}
.tags__tag.is-selected {
	border-color: var(--accent);
	background: var(--accent);
	color: var(--accent-text);
}

.tags__count {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: var(--box);
	border-radius: 50%;
	margin: 0 -4px 0 4px;
	text-align: center;
	font-weight: 700;
	transition: inherit;
}
.tags__tag.is-selected .tags__count {
	background: var(--accent);
}



/* Info Box */

.info-box {
	position: relative;
	display: block;
	padding: 6px 6px 6px 13px;
	background: var(--box);
	border-left: 2px solid var(--accent);
	margin: 0 0 8px;
}
.info-box--error {
	--accent: var(--accent--error);
}
.info-box--indented {
	margin-left: 8px;
}

.info-box::before {
	content: "?";
	position: absolute;
	top: calc(50% - 8px);
	left: -9px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: var(--accent);
	color: var(--accent-text);
	text-align: center;
}
.info-box--error::before {
	content: "!";
}

.info-box__list {
	padding-left: 14px;
	margin: 6px 0 0 0;
}


.code__title {
	display: inline-block;
	margin-bottom: 4px;
	font-weight: 700;
}

.code__preview {
	display: block;
	padding: 6px;
	max-height: 10em;
	background: #2a2a2a;
	border-radius: 6px;
	box-shadow: inset 1px 2px 5px rgba(0,0,0,0.2);
	margin: 0 0 8px;
	overflow-x: hidden;
	overflow-y: auto;
	color: #dbdbdb;
	font: 11px/1.1 monospace;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}


.intended-config {

}

.intended-config__section {
	padding-bottom: 8px;
	border-bottom: 2px dotted var(--border-light);
	margin-bottom: 8px;
}

.intended-config__header {
	margin: 0 0 8px;
}

.intended-config__blurb {
	margin: 0;
}

.columns {
	display: flex;
	overflow-x: auto;
	padding: 8px 0;
}

.columns__wrapper {
	flex-grow: 1;
}

.columns__glue {
	display: flex;
}

.columns__header {
	display: block;
	margin-bottom: 4px;
	font-weight: 700;
}

.columns__split {
	display: flex;
	flex-flow: column nowrap;
	width: 150px;
	flex: 1 0 auto;
}

.columns__split-header {
	display: block;
	font-weight: 700;
	margin-bottom: 5px;
}


.columns__check {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 2px solid var(--border-light);
	border-radius: 4px;
	vertical-align: top;
	margin-top: .15em;
}
.columns__check::before {
	display: block;
	text-align: center;
	color: var(--accent-text);
	font-size: 12px;
	line-height: 12px;
}

:checked + .columns__check {
	background: var(--accent);
	border-color: var(--accent);
}
:checked + .columns__check::before {
	content: "✔";
}

:indeterminate + .columns__check {
	background: rgb(29, 122, 35);
	border-color: rgb(29, 122, 35);
}
:indeterminate + .columns__check::before {
	content: "—";
}

/* Footer */

.footer__row {
	display: block;
	padding: 4px 0;
	text-align: center;
}

.footer__subtle-text {
	font-size: 0.9em;
}

.footer__separator {
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #4a4a4a;
	border-radius: 50%;
	margin: 0 3px;
	color: transparent;
	vertical-align: middle;
}



/* PREVIEW */

.preview {
	position: relative;
	width: 80%;
	flex: 1 1 auto;
	overflow-x: auto;
	overflow-y: hidden;
}

.preview__window {
	min-width: 1160px;
	width: 100%;
	height: 100%;
	border: none;
}



/* MODALS */

.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	overflow: auto;
	background: rgba(0,0,0,0.6);
}
.popup.is-hidden {
	display: none;
}
.popup__inner {
	position: relative;
	display: flex;
	padding: 30px;
	min-height: 100%;
	flex-direction: column;
	align-items: center;
}
.popup__invisibutton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.popup__content {
	position: relative;
	z-index: 1;
	width: 600px;
	max-width: 100%;
	padding: 16px;
	background: var(--background);
	border-radius: 8px;
	flex: 0 0 auto;
	box-shadow: 0 4px 32px rgba(0,0,0,0.4);
}
.popup__content--wide {
	width: 800px;
}

.popup__header {
	display: block;
	padding-bottom: 4px;
	border-bottom: 2px dotted var(--border-heavy);
	margin: 0 0 8px;
	font-size: 1.2em;
	font-weight: 700;
}

.popup__paragraph {
	margin: 0 0 8px;
}

.popup__image {
	max-width: 100%;
	height: auto;
	max-height: 70vh;
	border: 2px dotted var(--border-light);
	border-radius: 8px;
	margin-bottom: 8px;
}

.popup__image--thumb {
	max-width: 33%;
	max-height: 180px;
}

.popup__image--expand {
	position: relative;
	z-index: 5;
	transition: transform 0.4s ease;
	transform-origin: left top;
}
.popup__image--expand:hover {
	transform: scale(3) translateY(-5%);
	border-color: transparent;
}


/* Stepped list */

.steps {
	padding-left: 30px;
	counter-reset: steps;
	font-size: 14px;
}

.steps__step {
	position: relative;
	min-height: 24px;
	counter-increment: steps;
}
.steps__step + .steps__step {
	margin-top: 8px;
}

.steps__step::marker {
	content: none;
}

.steps__step::before {
	content: counter(steps);
	position: absolute;
	left: -30px;
	width: 24px;
	height: 24px;
	background: var(--accent);
	border-radius: 50%;
	color: var(--accent-text);
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}
.steps__step--optional::before {
	content: "*";
}